@import url(//db.onlinewebfonts.com/c/7c6661efce01eac269383bac79303c1b?family=Arial+Narrow);
@font-face {font-family: "Arial Narrow"; src: url("//db.onlinewebfonts.com/t/7c6661efce01eac269383bac79303c1b.eot"); src: url("//db.onlinewebfonts.com/t/7c6661efce01eac269383bac79303c1b.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7c6661efce01eac269383bac79303c1b.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7c6661efce01eac269383bac79303c1b.woff") format("woff"), url("//db.onlinewebfonts.com/t/7c6661efce01eac269383bac79303c1b.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7c6661efce01eac269383bac79303c1b.svg#Arial Narrow") format("svg"); }

@font-face {
    font-family: "Futura-Bold";
    src: url(fonts/Futura-Bold-font.ttf) format('truetype');
}

body {
    background-color: #f6f6f6;
}

.header {
    position: fixed;
    top: 0px !important;
    width: 100%;
    margin-left: -8px;
}

.first {
    height: 93px;
    display: flex;
    background-color: #006491;
    margin-bottom: -16px;
}

.logo {
    padding-top: 15px;
    padding-right: 10px;
    margin-left: 210px;
    cursor: pointer;
} 

.list1 {
    display: flex;
    text-decoration: none;
    align-items: center;
    margin-top: -15px;
    font-weight: bold;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 15px;
}

.list1 a {
    text-decoration: none;
    color: white;
}

.list1 a:hover { 
    background-color: #005177; 
} 

.select1 a, .select2 a, .select3 a, .select4 a, .select5 a, .select6 a { 
    text-align: center;
    padding: 30px 8px 29px 8px;
    transition: background-color 1s;
}

.select2 a { 
    background-color: #005177;
}

.sign {
    display: flex;
    text-decoration: none;
    align-items: center;    
    margin-top: -16px;
    margin-left: 168px;
    cursor: pointer;
}

.person {
    background-color: #005177;
    padding: 22px 22px 21px 22px;
}

.sign-in {
    color: white;
    font-weight: bold;
    font-family: "Arial Narrow", Arial, sans-serif;
    text-align: center;
    font-size: 13px;
    background-color: #005177;
    padding: 31px 50px 31px 30px;
}

.sign-in a {
    text-decoration: none;
    color: white;
}

.cart {
    padding-left: 22px;
    margin-top: -10px;
}

.notifications {
    position: absolute;
    margin-top: -30px;
    margin-left: 250px;
}

.second {
    height: 40px;
    display: flex;
    background-color: #f6f6f6;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.3);
}

.list2 {
    display: flex;
    text-decoration: none;
    align-items: center;
    font-weight: bold;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 12px;    
    margin-left: 260px;
}

.list2 a {
    text-decoration: none;
    color: #021e50;
}

.choose1 a, .choose2 a, .choose3 a, .choose4 a, .choose5 a { 
    text-align: center;
    padding: 30px 10px 29px 10px;
    transition: background-color 1s;
}







.food {
    margin-left: 203px;
    margin-top: 15px;
    width: 927px;
    display: flex;
    flex-direction: column;
    
}

.order {
    margin-top: 125px;
    width: 930px;
    height: 61px;
    background-color: #006491;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}

.start_order {
    color: white;
    font-weight: bold;
    font-size: 36px;
    font-family: "Futura-Bold", "Arial Narrow";
}

.start_order_buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin-left: 25px;
}

.or {
    color: white;
    font-family: Georgia;
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
    padding-right: 12px;
    padding-left: 12px;
}

.button1, .button2 {
    margin-top: 8px;
    padding-left: 70px;
    padding-right: 70px;
    height: 46px;
    font-family: "Futura-Bold", "Arial Narrow";
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    background-color: #e31837;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .5s;
}

.button1 a, .button2 a {
    text-decoration: none;
    color: white;
}

.button1:hover, .button2:hover {
    background-color: #960f23;
} 

.start {
    margin-left: 203px;
    margin-top: -30px;
}

.text1 {
    font-family: "Futura-Bold", "Arial Narrow";
    font-size: 2.5em;
    color: #333;
}

.text2 {
    color: #006491;
    font-family: "Arial Narrow";
    font-size: 13.5px;
    margin-top: 8px;
    margin-bottom: 12px;
}

.span1 {
    text-decoration: underline;
    cursor: pointer;
}

.span1 a {
    color: #006491;
}

.span1 a:hover {
    color: red;
}

.dominos-menu {
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

.dominos-menu a {
    text-decoration: none;
    color: #006491;
}

.pizza, .chicken, .sides, .drinks, .desserts {
    background-color: white;
    height: 77px;
    margin-bottom: 12px;
    border: .1px solid rgb(221, 220, 220);
    cursor: pointer;
    display: flex;
    
}

.pizza:hover {
    background-color: #006491;
    .text3 {
        color: white;
    }
}

.chicken:hover {
    background-color: #006491;
    .text4 {
        color: white;
    }
}

.sides:hover {~
    background-color: #006491;
    .text5 {
        color: white;
    }
}

.drinks:hover {
    background-color: #006491;
    .text6 {
        color: white;
    }
}

.desserts:hover {
    background-color: #006491;
    .text7 {
        color: white;
    }
}

.pic-pizza, .pic-chicken, .pic-sides, .pic-drinks, .pic-desserts {
    margin-left: 1px;
}

.text3, .text4, .text5, .text6, .text7 {
    margin-left: 48px;
    font-family: "Futura-Bold", "Arial Narrow";
    font-size: 1.5em;
}

.footer {  
    position: absolute;
    background-color: #dbdbdb;
    left: 0;
    right: 0;
    width: 100%;
    height: 333px;
    margin-top: 30px;
}

.footer li {
    display: inline-block;
    text-decoration: none;
    padding-top: 22px;
    margin-right: 47px;
    font-weight: bold;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 15.5px;
}

.footer li a {
    text-decoration: none;
    color: rgb(54, 54, 54);
}

.footer-ul {
    margin-left: 235px;
    margin-top: 27px;
}

.footer-list1{
    border-left: 1.5px solid rgb(54, 54, 54);
    height: 20px;
    margin-top: 20px;
    margin-left: 85px;
    display: inline-block;
    position: absolute;
}

.footer-list2{
    border-left: 1.5px solid rgb(54, 54, 54);
    height: 20px;
    margin-top: 20px;
    margin-left: 58px;
    display: inline-block;
    position: absolute;
}

.footer-list3{
    border-left: 1.5px solid rgb(54, 54, 54);
    height: 20px;
    margin-top: 20px;
    margin-left: 62px;
    display: inline-block;
    position: absolute;
}

.footer-list4{
    border-left: 1.5px solid rgb(54, 54, 54);
    height: 20px;
    margin-top: 22px;
    margin-left: 40px;
    display: inline-block;
    position: absolute;
}

.main {
    min-height: 100vh;
    margin-bottom: -333px;
}

.push {
    height: 320px;
}

.social-media {
    margin-left: 275px;
    margin-top: 40px;
    display: inline-block;
    cursor: pointer;
    float: left;
}

.facebook {
    float: left;
    width: 14px;
    height: 25px;
    margin-left: 4px;
    background-image: url("img/facebook.png");
}
  
.twitter {
    margin-left: 17px;
    margin-top: 3px;
    float: left;
    width: 24px;
    height: 19px;
    background: url("img/twitter.png");
}

.instagram {
    margin-left: 12px;
    float: left;
    width: 24px;
    height: 24px;
    background: url("img/instagram.png");
}

.youtube {
    margin-left: 12px;
    margin-top: 4px;
    float: left;
    width: 24px;
    height: 17px;
    background: url("img/youtube.png");
}

.facebook:hover {
    background: url("img/facebook-hover.png") no-repeat;
}

.twitter:hover {
    background: url("img/twitter-hover.png") no-repeat;
}

.instagram:hover {
    background: url("img/instagram-hover.png") no-repeat;
}

.youtube:hover {
    background: url("img/youtube-hover.png") no-repeat;
}

.pepsi {
    float: left;
    margin-top: 10px;
    margin-left: 8px;
}

.mobile {
    display: inline-block;
    margin-top: 37px;
    margin-left: 8px;
    cursor: pointer;
}

.apple {
    float: left;
    margin-right: 12px;
}

.android {
    float: left;
    margin-right: 12px;
}

.huawei {
    display: inline;
}

.msg {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 15.5px;
    color: rgb(54, 54, 54);
    margin-top: 47px;
    margin-left: 274px;
    font-size: 13px;
    font-weight: bold;
}

.selection {
    margin-top: -2px;
    margin-left: 202px;
    width: 930px;
    height: 35px;
    background-color: #006491;
    display: inline-block;
}

.txt_selection {
    color: white;
    margin-left: 10px;
    margin-top: -10px;
    font-weight: bold;
    font-size: 17px;
    font-family: "Futura-Bold", "Arial Narrow";
}

.txt_prices {
    color: white;
    margin-right: 20px;
    margin-top: -54px;
    font-weight: bold;
    font-size: 17px;
    font-family: "Futura-Bold", "Arial Narrow";
    float: right;
}

.pizza-order, .sides-order, .drinks-order, .desserts-order, .chicken-order {
    margin-top: 15px;
    margin-left: 209px;
    padding-bottom: 4px;
    width: 915px;
    display: inline-block;
}

.pizza-order a, .sides-order a, .drinks-order a, .desserts-order a, .chicken-order a {
    text-decoration: none;
    color: #006491;
}

.pizza1, .pizza2, .pizza3, .pizza5, .pizza6, .pizza7, .pizza9, .pizza10, .pizza11, .pizza13, .pizza14, .pizza15, .sides1, .sides2, .sides3, .sides5, .drinks1, .drinks2, .drinks3, .drinks5, .desserts1, .chicken1 {
    float: left;
    width: 202px;
    margin-right: 35px;
    margin-bottom: 4px;
    cursor: pointer;
}

.pizza4, .pizza8, .pizza12, .sides4, .drinks4 {
    float: left;
    width: 202px;
    cursor: pointer;
}

.pizza16 {
    width: 202px;
    cursor: pointer;
    margin-bottom: 20px;
}

.pizza1:hover, .pizza2:hover, .pizza3:hover, .pizza4:hover, .pizza5:hover, .pizza6:hover, .pizza7:hover, .pizza8:hover, .pizza9:hover, .pizza10:hover, .pizza11:hover, .pizza12:hover, .pizza13:hover, .pizza14:hover, .pizza15:hover, .pizza16:hover, .sides1:hover, .sides2:hover, .sides3:hover, .desserts1:hover, .chicken1:hover {
    .pizza-description1, .pizza-description2, .pizza-description3, .pizza-description4, .pizza-description5, .pizza-description6, .pizza-description7, .pizza-description8, .pizza-description9, .pizza-description10, .pizza-description11, .pizza-description12, .pizza-description13, .pizza-description14, .pizza-description15, .pizza-description16, .sides-description1, .sides-description2, .sides-description3, .desserts-description1, .chicken-description1 {
        color: #e31837;
    }
}

.pizza-pic, .sides-pic, .drinks-pic, .desserts-pic, .chicken-pic {
    display: block;
}

.pizza-btn, .sides-btn, .drinks-btn, .desserts-btn, .chicken-btn {
    width: 202px;
    height: 37px;
    margin-top: 7px;
    color: white;
    font-family: "Futura-Bold", "Arial Narrow";
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    background-color: #e31837;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .5s;
}

.pizza-btn a, .sides-btn a, .drinks-btn a, .desserts-btn a, .chicken-btn a {
    text-decoration: none;
    color: white;
}

.pizza-btn:hover, .sides-btn:hover, .drinks-btn:hover, .desserts-btn:hover, .chicken-btn:hover {
    background-color: #960f23;
}

.pizza-name, .sides-name, .drinks-name, .desserts-name, .chicken-name {
    margin-top: 8px;
    font-size: 18px;
    font-family: "Futura-Bold", "Arial Narrow";
    color: #0274a8;
}

.pizza-description1, .pizza-description2, .pizza-description3, .pizza-description4, .pizza-description5, .pizza-description6, .pizza-description7, .pizza-description8, .pizza-description9, .pizza-description10, .pizza-description11, .pizza-description12, .pizza-description13, .pizza-description14, .pizza-description15, .pizza-description16, .sides-description1, .sides-description2, .sides-description3, .drinks-description1, .drinks-description2, .drinks-description3, .drinks-description4, .drinks-description5, .desserts-description1, .chicken-description1 {
    font-family: "Arial Narrow";
    font-size: 13px;
    margin-top: -18px;
    text-decoration: none;
    line-height: 12px;
}

.options { 
    margin-left: 202px; 
    background-color: #e5edf3;
    width: 928px;
    height: 228px;
    border: 1px solid rgba(85,85,85,.2);
}

.options-ul {
    margin-left: -49px;
    margin-top: -9px;
}

.options-ul li {
    display: inline-block;
    font-size: 16px;
    font-family: "Futura-Bold", "Arial Narrow";
    color: #0274a8;
    float: left;
    margin-left: 21px;
}

.l1 {
    width: 287px;
    height: 78px;    
    border-right: 2px solid #cfd9e4;
}

.l2 {
    width: 287px;
    height: 78px;
}

.l3 {
    width: 287px;
    height: 125px;  
    margin-top: 14px;  
}

.l4 {
    width: 597px;
    height: 125px;  
    margin-top: 14px;  
}

.options-line {
    position: absolute;
    width: 928px;
    margin-top: 78px;
    margin-left: 8px;
    border-bottom: 2px solid #cfd9e4;
}

.options-second ul {
    margin-left: -60px;
    margin-top: 5px;
    float: left;
}

.options-third ul {
    margin-left: 255px;
    margin-top: 5px;
}

.options-second li, .options-third li {
    display: block;
    float: none;
    font-size: 13px;
    font-family: "Arial Narrow";
    color: #555;
    margin-bottom: 1px;
}