@import url(//db.onlinewebfonts.com/c/7c6661efce01eac269383bac79303c1b?family=Arial+Narrow);
@font-face {font-family: "Arial Narrow"; src: url("//db.onlinewebfonts.com/t/7c6661efce01eac269383bac79303c1b.eot"); src: url("//db.onlinewebfonts.com/t/7c6661efce01eac269383bac79303c1b.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7c6661efce01eac269383bac79303c1b.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7c6661efce01eac269383bac79303c1b.woff") format("woff"), url("//db.onlinewebfonts.com/t/7c6661efce01eac269383bac79303c1b.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7c6661efce01eac269383bac79303c1b.svg#Arial Narrow") format("svg"); }
@font-face {
    font-family: "ArchivoNarrow"; 
    src: url(fonts/ArchivoNarrow.tff) format('truetype');
}

@font-face {
    font-family: "Aclonica-Regular";
    src: url(fonts/Aclonica-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Aclonica-Bold";
    src: url(fonts/Aclonica-Bold.ttf) format('truetype');
}

@font-face {
    font-family: "Agdasima-Bold";
    src: url(fonts/Agdasima-Bold.tff) format('truetype');
}

@font-face {
    font-family: "Agdasima-Regular";
    src: url(fonts/Agdasima-Regular.tff) format('truetype');
}

@font-face {
    font-family: "RobotoCondensed-Bold";
    src: url(fonts/RobotoCondensed-Bold.tff) format('truetype');
}

@font-face {
    font-family: "RobotoCondensed-Regular";
    src: url(fonts/RobotoCondensed-Regular.tff) format('truetype');
}

@font-face {
    font-family: "Futur";
    src: url(fonts/futur.ttf) format('truetype');
}

@font-face {
    font-family: "Futura-Bold";
    src: url(fonts/Futura-Bold-font.ttf) format('truetype');
}

@font-face {
    font-family: "Futura-Book";
    src: url(fonts/Futura-Book.ttf) format('truetype');
}

@font-face {
    font-family: "Futura-Heavy";
    src: url(fonts/Futura-Heavy.ttf) format('truetype');
}

@font-face {
    font-family: "Benguiat-Normal";
    src: url(fonts/Benguiat-Normal.ttf) format('truetype');
}

@font-face {
    font-family: "Benguiat-Regular";
    src: url(fonts/Benguiat-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Benguiat-Bold";
    src: url(fonts/Benguiat-Bold.ttf) format('truetype');
}

body {
    background-color: #f6f6f6;
}

.header {
    position: fixed;
    top: 0px !important;
    width: 100%;
    margin-top: -2px;
    margin-left: -8px;
}

.first {
    height: 75px;
    background-color: #006491;
    margin-bottom: -16px;
}

.second {
    height: 40px;
    background-color: #f6f6f6;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.3);
}

.logo {
    padding-top: 15px;
    padding-right: 10px;
    float: left;
    margin-left: 210px;
    cursor: pointer;
} 

.list1 li {
    display: inline-block;
    text-decoration: none;
    padding-top: 22px;
    font-weight: bold;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 15px;
}

.list1 {
    display:block;
    margin-top: -14px;
}

.list1 a {
    text-decoration: none;
    color: white;
}

.list1 li, .list2 li {
    float: left;
}

.list2 li {
    display: inline-block;
    text-decoration: none;
    padding-top: 13px;
    padding-left: 18px;
    font-weight: bolder;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 12px;
}

.list2 a {
    text-decoration: none;
    color: #021e50;
}

.list2 {
    display:block;
    margin-left: 217px;
    margin-top: -14px;
    padding-top: -10px;
}

.list1 a:hover { 
    background-color: #005177; 
} 

li.select1 a { 
    height: 39px;
    width: 110px;
    text-align: center;
    margin-top: -28px;
    display: block;
    padding-top: 36px; 
    transition: background-color 1s;
}

li.select2 a { 
    height: 44px;
    width: 56px;
    text-align: center;
    margin-top: -28px;
    display: block;
    padding-top: 36px;
    background-color: #005177;
    transition: background-color 1s;
}

li.select3 a { 
    height: 39px;
    width: 70px;
    text-align: center;
    margin-top: -28px;
    display: block;
    padding-top: 36px;
    transition: background-color 1s;
}

li.select4 a { 
    height: 39px;
    width: 80px;
    text-align: center;
    margin-top: -28px;
    display: block;
    padding-top: 36px;
    transition: background-color 1s;
}

li.select5 a { 
    height: 39px;
    width: 90px;
    text-align: center;
    margin-top: -28px;
    display: block;
    padding-top: 36px;
    transition: background-color 1s;
}

li.select6 a { 
    height: 39px;
    width: 60px;
    text-align: center;
    margin-top: -28px;
    display: block;
    padding-top: 36px;
    transition: background-color 1s;
}

.sign {
    display: inline-block;
    width: 50px;
    height: 75px;
    margin-left: 140px;
    padding-left: 145px;
    background-color: #005177;
    cursor: pointer;
}

.person {
    margin-left: -125px;
    padding-top: 25px;
    float: left;
}

.sign-in {
    margin-left: -40px;
    padding-top: 15px;
    color: white;
    font-weight: bold;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 13px;
    float: left;
}

.cart {
    padding-left: 73px;
    float: left;
}

.notifications {
    position: absolute;
    margin-top: -8px;
    margin-left: 100px;
}

.order {
    margin-top: 133px;
    margin-left: 200px;
    width: 930px;
    height: 61px;
    background-color: #006491;
    border-radius: 9px;
    display: inline-block;
}

.start_order {
    float: left;
    margin-left: 65px;
    margin-top: -27px;
    color: white;
    font-weight: bold;
    font-size: 36px;
    font-family: "Futura-Bold", "Arial Narrow";
}

.or {
    float: left;
    color: white;
    margin-left: 10px;
    margin-top: -6px;
    font-family: Georgia;
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
}

.button1 {
    float: left;
    margin-left: 106px;
    margin-top: 8px;
    width: 207px;
    height: 46px;
    color: white;
    font-family: "Futura-Bold", "Arial Narrow";
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    background-color: #e31837;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .5s;
}

.button2 {
    margin-left: 15px;
    margin-top: 8px;
    width: 207px;
    height: 46px;
    color: white;
    font-family: "Futura-Bold", "Arial Narrow";
    font-size: 18px;
    text-align: center;
    background-color: #e31837;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .5s;
}

.button1 a, .button2 a {
    text-decoration: none;
    color: white;
}

.button1:hover, .button2:hover {
    background-color: #960f23;
}

.start {
    margin-left: 203px;
    margin-top: -30px;
}

.food {
    margin-left: 203px;
    margin-top: 15px;
}

.text1 {
    font-family: "Futura-Bold", "Arial Narrow";
    font-size: 2.5em;
    display: inline-block;
    color: #333;
}

.text2 {
    color: #006491;
    font-family: "Arial Narrow";
    font-size: 13.5px;
    margin-top: -32px;
}

.span1 {
    text-decoration: underline;
    cursor: pointer;
}

.span1 a {
    color: #006491;
}

.span1 a:hover {
    color: red;
}

.pizza {
    background-color: white;
    width: 927px;
    height: 77px;
    margin-bottom: 12px;
    border: .1px solid rgb(221, 220, 220);
    cursor: pointer;
}

.pizza:hover {
    background-color: #006491;
    .text3 {
        color: white;
    }
}

.pic-pizza {
    margin-left: 1px;
    float: left;
}

.text3 {
    display: inline-block;
    margin-top: 23px;
    margin-left: 48px;
    font-family: "Futura-Bold", "Arial Narrow";
    font-size: 1.5em;
    color: #006491;
}

.chicken {
    background-color: white;
    width: 927px;
    height: 77px;
    margin-bottom: 12px;
    border: .1px solid rgb(221, 220, 220);
    cursor: pointer;
}

.chicken:hover {
    background-color: #006491;
    .text4 {
        color: white;
    }
}

.pic-chicken {
    margin-left: 1px;
    float: left;
}

.text4 {
    display: inline-block;
    margin-top: 23px;
    margin-left: 48px;
    font-family: "Futura-Bold", "Arial Narrow";
    font-size: 1.5em;
    color: #006491;
}

.sides {
    background-color: white;
    width: 927px;
    height: 77px;
    margin-bottom: 12px;
    border: .1px solid rgb(221, 220, 220);
    cursor: pointer;
}

.sides:hover {
    background-color: #006491;
    .text5 {
        color: white;
    }
}

.pic-sides {
    margin-left: 1px;
    float: left;
}

.text5 {
    display: inline-block;
    margin-top: 23px;
    margin-left: 48px;
    font-family: "Futura-Bold", "Arial Narrow";
    font-size: 1.5em;
    color: #006491;
}

.drinks {
    background-color: white;
    width: 927px;
    height: 77px;
    margin-bottom: 12px;
    border: .1px solid rgb(221, 220, 220);
    cursor: pointer;
}

.drinks:hover {
    background-color: #006491;
    .text6 {
        color: white;
    }
}

.pic-drinks {
    margin-left: 1px;
    float: left;
}

.text6 {
    display: inline-block;
    margin-top: 23px;
    margin-left: 48px;
    font-family: "Futura-Bold", "Arial Narrow";
    font-size: 1.5em;
    color: #006491;
}

.desserts {
    background-color: white;
    width: 927px;
    height: 77px;
    margin-bottom: 26px;
    border: .1px solid rgb(221, 220, 220);
    cursor: pointer;
}

.desserts:hover {
    background-color: #006491;
    .text7 {
        color: white;
    }
}

.pic-desserts {
    margin-left: 1px;
    float: left;
}

.text7 {
    display: inline-block;
    margin-top: 23px;
    margin-left: 48px;
    font-family: "Futura-Bold", "Arial Narrow";
    font-size: 1.5em;
    color: #006491;
}

.footer {  
    position: absolute;
    background-color: #dbdbdb;
    left: 0;
    right: 0;
    width: 100%;
    height: 333px;
}

.footer li {
    display: inline-block;
    text-decoration: none;
    padding-top: 22px;
    margin-right: 47px;
    font-weight: bold;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 15.5px;
}

.footer li a {
    text-decoration: none;
    color: rgb(54, 54, 54);
}

.footer-ul {
    margin-left: 235px;
    margin-top: 27px;
}

.footer-list1{
    border-left: 1.5px solid rgb(54, 54, 54);
    height: 20px;
    margin-top: 20px;
    margin-left: 85px;
    display: inline-block;
    position: absolute;
}

.footer-list2{
    border-left: 1.5px solid rgb(54, 54, 54);
    height: 20px;
    margin-top: 20px;
    margin-left: 58px;
    display: inline-block;
    position: absolute;
}

.footer-list3{
    border-left: 1.5px solid rgb(54, 54, 54);
    height: 20px;
    margin-top: 20px;
    margin-left: 62px;
    display: inline-block;
    position: absolute;
}

.footer-list4{
    border-left: 1.5px solid rgb(54, 54, 54);
    height: 20px;
    margin-top: 22px;
    margin-left: 40px;
    display: inline-block;
    position: absolute;
}

main {
    min-height: 100vh;
    margin-bottom: -333px;
  }

  .push {
    height: 333px;
  }

.social-media {
    margin-left: 275px;
    margin-top: 40px;
    display: inline-block;
    cursor: pointer;
    float: left;
}

.facebook {
    float: left;
    width: 14px;
    height: 25px;
    margin-left: 4px;
    background-image: url("img/facebook.png");
}
  
.twitter {
    margin-left: 17px;
    margin-top: 3px;
    float: left;
    width: 24px;
    height: 19px;
    background: url("img/twitter.png");
}

.instagram {
    margin-left: 12px;
    float: left;
    width: 24px;
    height: 24px;
    background: url("img/instagram.png");
}

.youtube {
    margin-left: 12px;
    margin-top: 4px;
    float: left;
    width: 24px;
    height: 17px;
    background: url("img/youtube.png");
}

.facebook:hover {
    background: url("img/facebook-hover.png") no-repeat;
}

.twitter:hover {
    background: url("img/twitter-hover.png") no-repeat;
}

.instagram:hover {
    background: url("img/instagram-hover.png") no-repeat;
}

.youtube:hover {
    background: url("img/youtube-hover.png") no-repeat;
}

.pepsi {
    float: left;
    margin-top: 10px;
    margin-left: 8px;
}

.mobile {
    display: inline-block;
    margin-top: 37px;
    margin-left: 8px;
    cursor: pointer;
}

.apple {
    float: left;
    margin-right: 12px;
}

.android {
    float: left;
    margin-right: 12px;
}

.huawei {
    display: inline;
}

.msg {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 15.5px;
    color: rgb(54, 54, 54);
    margin-top: 47px;
    margin-left: 274px;
    font-size: 13px;
    font-weight: bold;
}

.selection {
    margin-top: -2px;
    margin-left: 202px;
    width: 930px;
    height: 35px;
    background-color: #006491;
    display: inline-block;
}

.txt_selection {
    color: white;
    margin-left: 10px;
    margin-top: -10px;
    font-weight: bold;
    font-size: 17px;
    font-family: "Futura-Bold", "Arial Narrow";
}

.txt_prices {
    color: white;
    margin-right: 20px;
    margin-top: -54px;
    font-weight: bold;
    font-size: 17px;
    font-family: "Futura-Bold", "Arial Narrow";
    float: right;
}

.pizza-order, .sides-order, .drinks-order, .desserts-order {
    margin-top: 15px;
    margin-left: 209px;
    padding-bottom: 4px;
    width: 915px;
    display: inline-block;
}

.pizza-order a, .sides-order a, .drinks-order a, .desserts-order a {
    text-decoration: none;
    color: #006491;
}

.pizza1, .pizza2, .pizza3, .pizza5, .pizza6, .pizza7, .pizza9, .pizza10, .pizza11, .pizza13, .pizza14, .pizza15, .sides1, .sides2, .sides3, .sides5, .drinks1, .drinks2, .drinks3, .drinks5, .desserts1 {
    float: left;
    width: 202px;
    margin-right: 35px;
    margin-bottom: 4px;
    cursor: pointer;
}

.pizza4, .pizza8, .pizza12, .sides4, .drinks4 {
    float: left;
    width: 202px;
    cursor: pointer;
}

.pizza16 {
    width: 202px;
    cursor: pointer;
}

.pizza1:hover, .pizza2:hover, .pizza3:hover, .pizza4:hover, .pizza5:hover, .pizza6:hover, .pizza7:hover, .pizza8:hover, .pizza9:hover, .pizza10:hover, .pizza11:hover, .pizza12:hover, .pizza13:hover, .pizza14:hover, .pizza15:hover, .pizza16:hover, .sides1:hover, .sides2:hover, .sides3:hover, .desserts1:hover {
    .pizza-description1, .pizza-description2, .pizza-description3, .pizza-description4, .pizza-description5, .pizza-description6, .pizza-description7, .pizza-description8, .pizza-description9, .pizza-description10, .pizza-description11, .pizza-description12, .pizza-description13, .pizza-description14, .pizza-description15, .pizza-description16, .sides-description1, .sides-description2, .sides-description3, .desserts-description1{
        color: #e31837;
    }
}

.pizza-pic, .sides-pic, .drinks-pic, .desserts-pic {
    display: block;
}

.pizza-btn, .sides-btn, .drinks-btn, .desserts-btn {
    width: 202px;
    height: 37px;
    margin-top: 7px;
    color: white;
    font-family: "Futura-Bold", "Arial Narrow";
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    background-color: #e31837;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .5s;
}

.pizza-btn a, .sides-btn a, .drinks-btn a, .desserts-btn a {
    text-decoration: none;
    color: white;
}

.pizza-btn:hover, .sides-btn:hover, .drinks-btn:hover, .desserts-btn:hover {
    background-color: #960f23;
}

.pizza-name, .sides-name, .drinks-name, .desserts-name {
    margin-top: 8px;
    font-size: 18px;
    font-family: "Futura-Bold", "Arial Narrow";
    color: #0274a8;
}

.pizza-description1, .pizza-description2, .pizza-description3, .pizza-description4, .pizza-description5, .pizza-description6, .pizza-description7, .pizza-description8, .pizza-description9, .pizza-description10, .pizza-description11, .pizza-description12, .pizza-description13, .pizza-description14, .pizza-description15, .pizza-description16, .sides-description1, .sides-description2, .sides-description3, .drinks-description1, .drinks-description2, .drinks-description3, .drinks-description4, .drinks-description5, .desserts-description1 {
    font-family: "Arial Narrow";
    font-size: 13px;
    margin-top: -18px;
    text-decoration: none;
    line-height: 12px;
}